.categorias-contenedor-mayor{
    width: 98vw;
}

/* Aside */
.aside-contenedor{
    width: 100%;
    min-width: 300px;
    background-color: #CFDBDA;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}
.hovTrans:hover{
    background-color: rgba(0, 0, 0, 0.083);
}


/* Section */
.section-contenedor-mayor{
    height: 89vh;
    overflow: auto;
    margin-top: 20px;
}
.section-contenedor{
    height: 100%;
}
.section-card{
    width: 320px;
    height: 350px;
    background-color: #CABD9A;
    border-radius: 5px;
    overflow: hidden;
    color: #675A37;
    font-style: normal;
    margin-bottom: 20px;
}
.section-card-tramite{
    height: 400px;
}

@media (width < 600px){
    .categorias-contenedor-mayor{
        width: 95vw;
    }
    .aside-reducido{
        height: 60px;
        overflow: hidden;
        
    }
    .aside-reducido:hover{
        height: 100%;
        
    }
}


/* Programas */
.position-apartado{
    height: 100%;
    display: flex;
    align-items: end;
}
.asd{
    width: 100%;
    height: 40px;
    padding-top: 10px;
}
.asd-tramite{
    height: 30px;
    padding: 5px;
    margin-top: 5px;
}

/* Convocatorias */
.badge-convocatorias{
    padding: 5px;
    text-align: center;
    position: static;
    color: #FFFFFF;
    font-weight: 500;
}
.abierta{
    background-color: rgb(54, 117, 54);
}
.cerrada{
    background-color: rgb(136, 49, 66);
}





